h1 {
    color: black;
    font-size: 3em;
    font-family: 'Bota-Bold', Georgia, 'Times New Roman', Times, serif;

}

h2 {
    color: black;
    font-size: 2.7em;
    font-family: 'Bota-Bold', Georgia, 'Times New Roman', Times, serif;

}
h3{
    color: black;
    font-size: 2.3em;
    font-family: 'Bota-Bold', Georgia, 'Times New Roman', Times, serif;
}

#Logo {
    position: absolute;
    top: 13px;
    left: 20px;
    height: 60px;
    width: auto;
}

p {
    font-family: 'CircularXXSub-RegularSubset', Helvetica, Corbel, Arial, sans-serif;
    font-size: 2em;

}

#Gif {
    position: absolute;
    left: 15%;
    top: 17%;
    width: 25%;
    height: auto;
    visibility: hidden;
    opacity: 0;
}

#StartDiv {
    position: absolute;
    padding-top: 7.5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 45%;
    text-align: center;
    opacity: 1;
}

#Unterbrustumfang,
#Oberbrustweite {
    position: absolute;
    padding-top: 10%;
    margin: auto;
    width: 45%;
    text-align: center;
    opacity: 0;
    padding-left: 50%;
    transition: opacity 500ms;
    visibility: hidden;
}

#Ergebnis {
    position: absolute;
    padding-top: 7.5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 45%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

#BH-Finder {
    position: absolute;
    height: 90%;
    margin: auto;
    width: 45%;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms;
    visibility: hidden;
    border-radius: 120px;
    background-color: #E6E6E6;
    right: 3%;
    top: 5%;
    overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#BH-Finder::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#BH-Finder {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*
.Artikel{
    position: relative;
    border-radius: 60px;
    background-color: white;
    margin: 10%;
    height: 70%;
    width: auto;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
}*/


.Artikel{
    position: relative;
    border-radius: 60px;
    background-color: white;
    margin: 10%;
    height: 17%;
    width: auto;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
    overflow: hidden;
    transition: height 500ms;
}

.ImgDiv{
    position: relative;
    width: 20%;
    height: 100%;
    border-radius: 30px;
    float: left;   
    margin-right: 5%;
    overflow: hidden;
    display: flex;
    transition: width 500ms;
}

.singleProduct{
   position: relative;
   width: 49%;
   height: 79%;
   overflow: hidden;
   margin: auto;
   margin-top: 6%;
   border-radius: 70px;
}

.PreVis{
    position: absolute;
    max-height: 100%; 
    width: auto;
    border-radius: 30px;
    left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);  
}

.SingleProduktIMG{
    position: absolute;
    max-height: 100%; 
    width: auto;
    border-radius: 30px;
    left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);  
}

.Info{
    position: relative;
    margin: auto;
    height: auto;
    min-width: auto;
    min-height: 100%;
    word-wrap:break-word;
    overflow: hidden;
    transition: min-height 500ms;
}

/*
Artikel, height auf 71%
Info, min height auf 16%
ImgDiv width: von 20 auf 46%
*/

.ArtikelTitle{
    display: inline-block;
    margin: 0px;
    word-wrap: break-word;
    overflow: hidden;
}
.Serie{
    color: #707070;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    left:0px;
    margin-top: 1.5%;
}

.circles{
    position: absolute;
    float: left;   
    vertical-align: bottom; 
    min-height: auto;
    bottom: 0px;
}

.ColorCircle{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    float: left;
    margin-right: 20px;
}

.price{
    font-size: 2.7em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    float:right;
    margin-bottom: 0px;
}

button {
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 25px;
    border-width: 3px;
    border-color: gray;
    background-color: white;
    margin-top: 5%;
}

.TextInButton {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

input {
    height: 50px;
    width: 250px;
    border-radius: 25px;
    border-width: 3px;
    background-color: white;
    font-size: 1.5em;
    text-align: center;
    border-color: gray;
}

form {
    margin-top: 5%;
}